<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sineverything.news">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.my.activity.WebActivity">

        </activity>

        <activity
            android:name=".ui.main.activity.MainActivity"
            android:launchMode="singleTop">

        </activity>
        <activity android:name=".ui.main.activity.NewsDetailsActivity"
            android:windowSoftInputMode="adjustResize"
            ></activity>
        <activity android:name=".ui.main.activity.NewsDetailsActivity1"></activity>
        <activity android:name=".ui.main.activity.NewsPhotoDetailActivity"></activity>
        <activity android:name=".ui.my.activity.PhoneLoginActivity"></activity>
        <activity android:name=".ui.main.activity.SearchNewsResultActivity"></activity>
        <activity android:name=".ui.main.activity.EditActivity"></activity>
        <activity
            android:name=".ui.commodity.CommodityActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>
        <activity android:name=".ui.my.activity.AddressActivity"></activity>
        <activity android:name=".ui.order.activity.ConfirmOrderActivity"></activity>
        <activity android:name=".ui.commodity.CommodityDetailsActivity"></activity>
        <activity android:name=".ui.my.activity.ShopCarActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            ></activity>
        <activity android:name=".ui.my.activity.EditAddressActivity"></activity>
        <activity android:name=".ui.my.activity.CollectionActivity"></activity>
        <activity android:name=".ui.my.activity.FeedbackActivity"></activity>
        <activity android:name=".ui.my.activity.HelpCenterActivity"></activity>
        <activity android:name=".ui.my.activity.LogisticsInformationActivity"></activity>
        <activity android:name=".ui.commodity.SearchCommodityActivity"></activity>
        <activity android:name=".ui.order.activity.OrderListActivity"></activity>

        <activity android:name=".ui.my.activity.SelectAreaActivity"></activity>
        <activity android:name=".ui.main.activity.SearchNewsActivity"></activity>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.my.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.order.activity.OrderDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.my.activity.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.my.activity.SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ui.my.activity.AboutUsActivity"></activity>

        <activity android:name=".ui.order.activity.PaymentResultActivity"></activity>
        <activity android:name=".ui.service.activity.ServiceListActivity">

        </activity>

        <activity android:name=".ui.order.activity.PaymentActivity">

        </activity>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <activity android:name="com.umeng.facebook.FacebookActivity"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>

                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
            </intent-filter>
        </activity>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58c3d9fbe88bad7394000131"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng"></meta-data>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.commodity.ClassifyActivity"></activity>
    </application>
</manifest>